// COLORS
$grey-darkest:       #222222 !default;
$grey-darker:        #4A4A4A !default;
$grey-dark:          #848484 !default;
$grey:               #c2c2c2 !default;
$grey-light:         #dcdcdc !default;
$grey-lighter:       #F0F0F0 !default;
$grey-lightest:      #F9F9F9 !default;
$blue:               #008dc8 !default;
$blue-secondary:     #175B87 !default;
$navy:               #01356E !default;
$navy-secondary:     #175B87 !default;
$red:                #E74E2A !default;
$red-secondary:      #AB361A !default;
$orange:             #FF6602 !default;
$orange-secondary:   #CA5508 !default;
$khaki:              #B09D86 !default;
$khaki-secondary:    #7F684E !default;
$purple:             #5827AE !default;
$purple-secondary:   #310F6B !default;
