// Having a map of colors is useful if we ever want to programmatically generate "atomic" classes
// that do things like set background colors.
$color-map: (
  mint: (
    100: #caffdc,
    200: #98f0c0,
    300: #65e2a4,
    400: #33d387,
    500: #00c46b,
    600: #00ab58,
    700: #009144,
    800: #007831,
    900: #005e1d,
  ),
  blue: (
    100: #bbf2ff,
    200: #92ddff,
    300: #68c9ff,
    400: #3fb4ff,
    500: #15a0ff,
    600: #1085df,
    700: #0b6abf,
    800: #054f9f,
    900: #00347f,
  ),
  purple: (
    100: #ded2ff,
    200: #c0aaff,
    300: #a283ff,
    400: #835bff,
    500: #6533ff,
    600: #5326d9,
    700: #421ab3,
    800: #300d8c,
    900: #1e0066,
  ),
  salmon: (
    100: #ffd9d9,
    200: #ffb6ab,
    300: #ff937c,
    400: #ff714e,
    500: #ff4e1f,
    600: #d93b17,
    700: #b32710,
    800: #8c1408,
    900: #660000,
  ),
  rust: (
    100: #ffe5bb,
    200: #ffca8c,
    300: #ffaf5e,
    400: #ff942f,
    500: #ff7900,
    600: #d96700,
    700: #b35500,
    800: #8c4200,
    900: #663000,
  ),
  ochre: (
    100: #fdffab,
    200: #fee986,
    300: #fed260,
    400: #ffbc3b,
    500: #ffa515,
    600: #e19310,
    700: #c3810b,
    800: #a56f05,
    900: #875d00,
  ),
  khaki: (
    100: #f4edd3,
    200: #e6ddba,
    300: #d8cda0,
    400: #cabd86,
    500: #bcad6d,
    600: #a79a65,
    700: #92865d,
    800: #7d7355,
    900: #685f4d,
  ),
  coffee: (
    100: #efcd8b,
    200: #d3b27a,
    300: #b79769,
    400: #9b7c57,
    500: #7f6146,
    600: #6b4f36,
    700: #583d26,
    800: #442b15,
    900: #301905,
  ),
  gray: (
    100: #e6e7e8,
    200: #cfd0d0,
    300: #b8b8b9,
    400: #a0a1a1,
    500: #898989,
    600: #757575,
    700: #626262,
    800: #4e4e4e,
    900: #3a3a3a,
  )
);

// Writing map-get(map-get(...)) is annoying so this utility function compresses it into a single
// command.
@function color-get($color, $saturation: 500) {
  @return map-get(map-get($color-map, $color), $saturation)
}

// Mint
$color-mint-100: color-get(mint, 100);
$color-mint-200: color-get(mint, 200);
$color-mint-300: color-get(mint, 300);
$color-mint-400: color-get(mint, 400);
$color-mint-500: color-get(mint, 500);
$color-mint-600: color-get(mint, 600);
$color-mint-700: color-get(mint, 700);
$color-mint-800: color-get(mint, 800);
$color-mint-900: color-get(mint, 900);
$color-mint: $color-mint-500;

// Blue
$color-blue-100: color-get(blue, 100);
$color-blue-200: color-get(blue, 200);
$color-blue-300: color-get(blue, 300);
$color-blue-400: color-get(blue, 400);
$color-blue-500: color-get(blue, 500);
$color-blue-600: color-get(blue, 600);
$color-blue-700: color-get(blue, 700);
$color-blue-800: color-get(blue, 800);
$color-blue-900: color-get(blue, 900);
$color-blue: $color-blue-500;

// Purple
$color-purple-100: color-get(purple, 100);
$color-purple-200: color-get(purple, 200);
$color-purple-300: color-get(purple, 300);
$color-purple-400: color-get(purple, 400);
$color-purple-500: color-get(purple, 500);
$color-purple-600: color-get(purple, 600);
$color-purple-700: color-get(purple, 700);
$color-purple-800: color-get(purple, 800);
$color-purple-900: color-get(purple, 900);
$color-purple: $color-purple-500;

// Salmon
$color-salmon-100: color-get(salmon, 100);
$color-salmon-200: color-get(salmon, 200);
$color-salmon-300: color-get(salmon, 300);
$color-salmon-400: color-get(salmon, 400);
$color-salmon-500: color-get(salmon, 500);
$color-salmon-600: color-get(salmon, 600);
$color-salmon-700: color-get(salmon, 700);
$color-salmon-800: color-get(salmon, 800);
$color-salmon-900: color-get(salmon, 900);
$color-salmon: $color-salmon-500;

// Rust
$color-rust-100: color-get(rust, 100);
$color-rust-200: color-get(rust, 200);
$color-rust-300: color-get(rust, 300);
$color-rust-400: color-get(rust, 400);
$color-rust-500: color-get(rust, 500);
$color-rust-600: color-get(rust, 600);
$color-rust-700: color-get(rust, 700);
$color-rust-800: color-get(rust, 800);
$color-rust-900: color-get(rust, 900);
$color-rust: $color-rust-500;

// Ochre
$color-ochre-100: color-get(ochre, 100);
$color-ochre-200: color-get(ochre, 200);
$color-ochre-300: color-get(ochre, 300);
$color-ochre-400: color-get(ochre, 400);
$color-ochre-500: color-get(ochre, 500);
$color-ochre-600: color-get(ochre, 600);
$color-ochre-700: color-get(ochre, 700);
$color-ochre-800: color-get(ochre, 800);
$color-ochre-900: color-get(ochre, 900);
$color-ochre: $color-ochre-500;

// Khaki
$color-khaki-100: color-get(khaki, 100);
$color-khaki-200: color-get(khaki, 200);
$color-khaki-300: color-get(khaki, 300);
$color-khaki-400: color-get(khaki, 400);
$color-khaki-500: color-get(khaki, 500);
$color-khaki-600: color-get(khaki, 600);
$color-khaki-700: color-get(khaki, 700);
$color-khaki-800: color-get(khaki, 800);
$color-khaki-900: color-get(khaki, 900);
$color-khaki: $color-khaki-500;

// Coffee
$color-coffee-100: color-get(coffee, 100);
$color-coffee-200: color-get(coffee, 200);
$color-coffee-300: color-get(coffee, 300);
$color-coffee-400: color-get(coffee, 400);
$color-coffee-500: color-get(coffee, 500);
$color-coffee-600: color-get(coffee, 600);
$color-coffee-700: color-get(coffee, 700);
$color-coffee-800: color-get(coffee, 800);
$color-coffee-900: color-get(coffee, 900);
$color-coffee: $color-coffee-500;

// Gray
$color-gray-100: color-get(gray, 100);
$color-gray-200: color-get(gray, 200);
$color-gray-300: color-get(gray, 300);
$color-gray-400: color-get(gray, 400);
$color-gray-500: color-get(gray, 500);
$color-gray-600: color-get(gray, 600);
$color-gray-700: color-get(gray, 700);
$color-gray-800: color-get(gray, 800);
$color-gray-900: color-get(gray, 900);
$color-gray: $color-gray-500;

// Primary Colors
$color-black: $color-gray-900;

// UI grays
$color-body-text: #333335;
$color-body-text-light: #737376;


