@font-face {
    font-family: 'Gordita';
    src: url('https://static.axios.com/fonts/gorditaregular-webfont.eot');
    src: url('https://static.axios.com/fonts/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.axios.com/fonts/gorditaregular-webfont.woff2') format('woff2'),
         url('https://static.axios.com/fonts/gorditaregular-webfont.woff') format('woff'),
         url('https://static.axios.com/fonts/gorditaregular-webfont.ttf') format('truetype'),
         url('https://static.axios.com/fonts/gorditaregular-webfont.svg#gorditaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('https://static.axios.com/fonts/gorditamedium-webfont.eot');
    src: url('https://static.axios.com/fonts/gorditamedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.axios.com/fonts/gorditamedium-webfont.woff2') format('woff2'),
         url('https://static.axios.com/fonts/gorditamedium-webfont.woff') format('woff'),
         url('https://static.axios.com/fonts/gorditamedium-webfont.ttf') format('truetype'),
         url('https://static.axios.com/fonts/gorditamedium-webfont.svg#gorditamedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Atiza';
    src: url('https://static.axios.com/fonts/atizatext-regular-webfont.eot');
    src: url('https://static.axios.com/fonts/atizatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.axios.com/fonts/atizatext-regular-webfont.woff2') format('woff2'),
         url('https://static.axios.com/fonts/atizatext-regular-webfont.woff') format('woff'),
         url('https://static.axios.com/fonts/atizatext-regular-webfont.ttf') format('truetype'),
         url('https://static.axios.com/fonts/atizatext-regular-webfont.svg#atizaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('https://static.axios.com/fonts/liberationmono-regular-webfont.eot');
    src: url('https://static.axios.com/fonts/liberationmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://static.axios.com/fonts/liberationmono-regular-webfont.woff') format('woff'),
         url('https://static.axios.com/fonts/liberationmono-regular-webfont.ttf') format('truetype'),
         url('https://static.axios.com/fonts/liberationmono-regular-webfont.svg#liberation_mono') format('svg');
    font-weight: 400;
    font-style: normal;
}
