@font-face {
  font-family: 'NB International Pro';
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_regular.eot');
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_regular.eot?#iefix') format('embedded-opentype'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_regular.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NB International Pro';
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_bold.eot');
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_bold.eot?#iefix') format('embedded-opentype'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_bold.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NB International Pro Mono';
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_mono.eot');
  src: url('https://static.axios.com/fonts/axios-site/nb_international_pro_mono.eot?#iefix') format('embedded-opentype'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_mono.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/nb_international_pro_mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Atiza';
  src: url('https://static.axios.com/fonts/axios-site/atiza/atizatext-regular-webfont.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/atiza/atizatext-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Atiza';
  src: url('https://static.axios.com/fonts/axios-site/atiza/atizatext-regularitalic-webfont.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/atiza/atizatext-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Atiza';
  src: url('https://static.axios.com/fonts/axios-site/atiza/atizatext-bold-webfont.woff') format('woff'),
       url('https://static.axios.com/fonts/axios-site/atiza/atizatext-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}